<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1 class="title">2048 Directory</h1>
        <div class="scores-container">
          <a href="https://github.com/jimrhoskins/2048.directory" class="contribute">Missing One?</a>
        </div>
      </div>
      <p class="game-intro">All of your favorite <strong>2048</strong> games in one place!</p>

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <p>
      2048 Directory Created by <a href="https://twitter.com/jimrhoskins">Jim Hoskins</a>. You can contribute to this directory by submitting a pull request at the <a href="https://github.com/jimrhoskins/2048.directory">2048.directory repo</a>.
      </p>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36807764-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
